@use './keyframes';

.container {
    display: flex;
    justify-content: space-between;
}

.home {
    flex-grow: 1;
    max-width: calc(70% - 20px);
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;

    & h1 {
        color: white;
        font-size: 56px;
        font-weight: 700;
    }

    & h3 {
        font-size: 32px;
        font-weight: 700;
        color: white;

        & span {
            color: #00abf0;
        }
    }

    & p {
        font-size: 16px;
        margin: 20px 0 40px;
        line-height: 1.2;
    }

    & .btn-box {
        display: flex;
        justify-content: space-between;
        width: 345px;
        height: 50px;
    }

    & a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 100%;
        background: #00abf0;
        border: 2px solid #00abf0;
        border-radius: 8px;
        font-size: 19px;
        color: #081b29;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: 1px;
        z-index: 1;
        overflow: hidden;
        transition: 0.5s;

        &:hover {
            color: #00abf0;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: #081b29;
            z-index: -1;
            transition: 0.5s;
        }

        &:hover::before {
            width: 100%;
        }

        &:nth-child(2) {
            background: transparent;
            color: #00abf0;

            &:hover {
                color: #081b29;
            }

            &::before {
                background: #00abf0;
            }
        }
    }
}


.home-sci {
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;

    & a {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid #00abf0;
        border-radius: 50%;
        font-size: 20px;
        color: #00abf0;
        text-decoration: none;
        z-index: 1;
        overflow: hidden;
        transition: 0.5s;

        &:hover {
            color: #081b29;
        }

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: #00abf0;
            z-index: -1;
            transition: 0.5s;
        }

        &:hover::before {
            width: 100%;
        }
    }
}



.img {
    flex-basis: calc(40% - 20px);
    margin-top: 120px;
    margin-right: 140px;
    height: 30vw; 
    border: solid 1px #000000;
    background-image: url('../img/fotocv.jpg');
    border-radius: 50%;
    background-size: 100% 100%;
    background-position: center;
    animation: mover 2s ease-in-out infinite;
    /*Animacion arriba-abajo */

}

@media (max-width: 1000px) {
    .img{
        margin-top: 180px;
    }
}

@media (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .home{
        max-width: none;
    }
    .home-sci{
        bottom:17px;
    }
   
    .img{
        display: none;
    }
}
